<main class="profile">
    <div class="container">
        <div class="profile-user">
            <%= form_for @user do |f| %>
                <div class="user-image user-form">
                    <% if @user.image.attached? %>
                        <img src ="<%= rails_blob_path(@user.image) %>">
                    <% else %>
                        <img src="/assets/sheep.png">
                    <% end %>
                    <%= f.file_field :image, placeholder: "画像アップロード" %>
                </div>
                <div class="user-name user-form">
                    <%= f.label "ユーザー名" %>
                    <%= f.text_field :name %>
                </div>
                <div class="user-email user-form">
                    <%= f.label "メールアドレス" %>
                    <%= f.text_field :email %>
                </div>
                <div class="submit">
                    <%= f.submit "変更" %>
                </div>
            <% end %>
        </div>
        
    </div>
</main>