<!--テーブルコンテンツ-->
<tr>
	<td>
		<!--チェックがついたレコードのidをparams[:selected_ids]で取得できるように記述-->
		<%= check_box_tag "selected_ids[]",card.id,checked= false, form:"selected_cards" %>
	</td>
	<!--indexメソッドを用いてidの順番を１から順に並べる-->
	<td><%= @cards.index(card) +1 %></td>
	<td><%= card.front_word %></td>
	<td><%= card.back_word %></td>
	<td>
		<div id="weakpoint">
			<% if card.weakness == 0 %>
				<%= icon("far", "meh fa-lg",style: "color:steelblue;") %>
			<% else %>
				<%= icon("fas", "smile fa-lg", style: "color:orange;") %>
			<% end %>
		</div>
	</td>
	<!--正答率のデータを表示-->
	<td>
		<% total_times = card.answers.length %>
		<% collect_times = card.answers.where(result: 1).length %>
		<% collect_rate = collect_times/total_times.to_f %>
		<!--率計算で分母が0の場合の処理,nanでないときは処理をしないので:以降は空白-->
		<% collect_rate.nan? ? collect_rate = 0 : %>
		<%= "#{sprintf("%.1f",collect_rate*100)} % ( #{collect_times}回 / #{total_times}回 ) " %>
		
	</td>
	
	<!--ここから編集削除ボタンとモーダルのtd-->
	<td>
		<!--ドロップダウンメニュー-->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				操作を選択
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li role="presentation">
					<!--編集ボタンのmodal作成-->
					<button type="button" class="btn" data-toggle="modal" data-target="#edit-<%= card.id %>" role="menuitem" tabindex="-1">
						編集
					</button>
				</li>
				<li role="presentation">
					<!--削除ボタンのmodal作成-->
					<button type="button" class="btn" data-toggle="modal" data-target="#delete-<%= card.id %>" role="menuitem" tabindex="-1">
						削除
					</button>
				</li>
			</ul>
		</div>
		
		
		<!-- 編集ボタンのモーダル・ダイアログ -->
		<div class="modal fade" id="edit-<%= card.id %>" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
						<!--編集モーダルのタイトル-->
						<h4 class="modal-title">カード内容の編集</h4>
					</div>
					<!--編集モーダルの内容-->
					<%= form_for card do |f| %>
						<div class="modal-body">
							<%= f.hidden_field :user_id, value: current_user.id %>
							<%= f.label :front_word, "カード表面" %>
							<%= f.text_field :front_word, value:"#{card.front_word}",placeholder:"内容を入力してください" %><br>
							<%= f.label :back_word, "カード裏面" %>
							<%= f.text_field :back_word, value:"#{card.back_word}",placeholder:"内容を入力してください" %><br>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
							<%= f.submit "変更", class:"btn btn-primary" %>
						</div>
					<% end %>
					
				</div>
			</div>
		</div>
		<!--ここまで個別編集のmodalの記述-->
		
		
		<!-- 削除ボタンのモーダル・ダイアログ -->
		<div class="modal fade" id="delete-<%= card.id %>" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
						<!--編集モーダルのタイトル-->
						<h4 class="modal-title">カード内容の削除</h4>
					</div>
					<!--削除モーダルの内容-->
					<div class="modal-body">
						<p id="delete-description">以下のカードを本当に削除してよろしいですか？</p>
						<p>カード表面: <%= card.front_word %></p>
						<p>カード裏面: <%= card.back_word %></p>
						<%= link_to "削除", "/cards/#{card.id}", method: :delete, class:"btn btn-danger" %>
					</div>
					
				</div>
			</div>
		</div>
		<!--ここまで個別削除のmodalの記述-->
	</td>
</tr>