<main class="card-list">
	
	<section class="list container">
		<h2><%= icon("fas","book") %> 単語カード一覧</h2>
		<!--単語リストの記述-->
		<!--単語登録がない場合-->
		<% if @cards.empty? %>
			<p>単語の登録がまだありません。</p>
			<%= link_to "単語登録はこちら","/new_multiple/#{current_user.id}" %>
		<!--単語登録がある場合-->
		<% else %>
			
			<div class="card-contents">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						一括操作を選択
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<%= form_tag('/edit_multiple',method: "post", id:"form_edit",style:"margin-right:5px;") do %>
							    <!--<%= submit_tag "一括編集", class: 'btn', id:"btn1", role:"menuitem",tabindex:"-1" %>-->
							    <%= button_tag "一括編集", class: 'btn', id:"btn1", role:"menuitem",tabindex:"-1" do %>
							    	<%= icon("fas","edit") %> 一括編集
							    <% end %>
						    <% end %>
						</li>
						<li role="presentation">
							<%= form_tag('/destroy_multiple',method: "delete", id:"form_delete") do %>
							    <!--<%= submit_tag '一括削除', class: 'btn', id:"btn2", role:"menuitem",tabindex:"-1" %>-->
							    <%= button_tag class: 'btn', id:"btn2", role:"menuitem",tabindex:"-1" do %>
							    		<%= icon("fas","trash-alt") %> 一括削除
							    <% end %>
						    <% end %>
						</li>
					</ul>
				</div>
			    
				<table class="table table-hover table-responsive mt-10px" id="words-table">
					<thead>
						<tr>
							<th>選択</th>
							<th>id</th>
							<th>English</th>
							<th>Japanese</th>
							<th>合格判定</th>
							<th>直近正答率</th>
							<th>編集/削除</th>
						</tr>
					</thead>
					<tbody>
					    <%= render partial: "card", collection: @cards %>
					</tbody>
				</table>
			</div>
		<% end %>
	    
	</section>
	
	<section class="description container">
		<h3>使い方</h3>
		<div class ="content">
			<p>このページは単語帳の管理ページです</p>
			<!--<p>単語の編集/削除方法・・・</p>-->
			<p>
			<br>
				(単語の編集/削除方法)→︎
			</p>
			<p>
				各単語の操作には単独・一括選択の２つの方法があります。一つの単語を操作したい場合はテーブルの一番右側にある[操作を選択]
				のドロップダウンより操作を行ってください。<br>
				一括で操作したい場合はテーブル左側のチェックボックスにチェックを入れた上でテーブル左上の[一括操作]のドロップダウンメニューより操作を行ってください
			</p>
			<!--<p>※１・・・</p>-->
			<p>(※1) 合格条件は[テスト出題回数が１０回以上でかつ正答率80%以上or連続５回正解]です。</p>
			<!--<p>※2・・・</p>-->
			<p>(※2) 当アプリでは単語テストデータを直近１０回分保存しています。テーブルの[直近正答率]は直近１０回のテスト正答率です。
				括弧内の数字は(正答率/出題回数)です。
			</p>
		</div>
		
	</section>
    
</main>

