<main>
	<p id="check">push me!</p>
    <h2>単語帳一覧</h2>
    <!--テーブルの記述-->
    <!--id: "selected_cards"-->
    <div class="d-inline-flex">
    	
    	<%= form_tag('/edit_multiple',method: "post", id:"form_edit",style:"margin-right:5px;") do %>
		    <%= submit_tag 'チェックリストの一括編集', class: 'btn btn-success', id:"btn1" %>
	    <% end %>
	    <%= form_tag('/destroy_multiple',method: "delete", id:"form_delete") do %>
		    <%= submit_tag 'チェックリストの一括削除', class: 'btn btn-danger', id:"btn2" %>
	    <% end %>
    </div>
    
    
    <!--<button class="btn btn-danger">選択リストの一括削除</button>-->
    
    
<table class="table table-hover table-responsive mt-10px">
	<thead>
		<tr>
			<th>選択</th>
			<th>id</th>
			<th>カード表面</th>
			<th>カード裏面</th>
			<th>苦手チェック</th>
			<th>直近正答率 (正答回数/出題回数)※最大10回</th>
			<th>編集/削除</th>
		</tr>
	</thead>
	<tbody>
	    <%= render partial: "card", collection: @cards %>
	</tbody>
</table>
</main>